
body {
    background-color: #FAF0E6;
    color: #2F4F4F;
    margin: 0; 
    font-family: 'Noto Sans', 'Noto Sans Hebrew', sans-serif;
}

header {
    height: 500px;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center 30%;
}

h1 {
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 28px;
    
}

a{
    text-decoration: none;
    color: #2F4F4F; 
}

* {
    box-sizing: border-box;  /* Makes padding included in width calculations */
}

.nav-list {
    display: flex; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {

    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#gallery {
    padding-top: 20px;
    text-align: center;
}
.gallery-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.gallery-item {
    padding: 20px;
    margin: 10px;
    height: 200px;
    width: auto;
}

.two-columns-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding: 0 20px;
    gap: 20px;
    max-width: 100%;
    overflow-x: hidden;

}

.thinner-section {
    grid-column: 4 / span 2;
    padding: 20px;
    width: 100%;
    margin: auto;
    
}

.wider-section {
    grid-column: 1 / span 3;
    padding: 20px;
    width: 100%; 
}

.text {
    flex-grow: 1;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
  }

.eng {
    text-align: left;
}

form {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;

  }

.form-group label {
    width: 150px;
    margin-left: 20px;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
  }

.form-group input,textarea {
    flex-grow: 1; /* Allow inputs to grow */
    flex-shrink: 0; /* Prevent shrinking below min-width */
    flex-basis: 70%; /* Base width for input */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Responsive full width inside the flex container */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    box-sizing: border-box;
    min-width: 300px; /* Prevent shrinking smaller than 300px */
  }

.form-group button {
    background-color: #FAF0E6;
    border:1px solid #2F4F4F;
    border-radius: 4px;
    padding: 5px;
    color: #2F4F4F;
    font-family: 'Noto Sans', 'Noto Sans Hebrew', sans-serif;
}

#contact {
    text-align: center;
}

#contact p{
    margin-top: 0;
}
  .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="%232F4F4F"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
  }

footer {
    list-style-type: none;
    padding: 20px;
    margin: 20px 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2F4F4F;
}

footer ul {
    display: flex; 
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;

}
footer li {
    margin-left: 30px;
}

footer li a {
    color: #FAF0E6;
}

@media (max-width: 768px) {
    .two-columns-container {
        grid-template-columns: 1fr;
    }

    .thinner-section, .wider-section {
        grid-column:  1 / -1;
    }
    .form-group {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    .form-group label {
        width: 100%; /* Let labels take the full width */
        margin-left: 0; /* Remove left margin for mobile */
    }

    .form-group input,
    .form-group textarea {
        width: 100%; /* Full width for inputs */
        min-width: 100%; /* Prevent shrinking */
    }
}